@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}

/* Custom Scrollbar for "Premium" feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-card;
}
::-webkit-scrollbar-thumb {
  @apply bg-border rounded-full hover:bg-secondary/50 transition-colors;
}
